.container-categorias {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0px;
    text-align: center;
}

    .container-categorias > a > img {
        height: 100px;
        display: block;
    }

.container-presentes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.presente {
    width: 200px;
    height: 220px;
    background-color: #FBE3E5;
    border-radius: 15px;
    box-shadow: 4px 4px 7px -4px rgba(0,0,0,0.6);
    text-align: center;
    padding: 10px;
    margin: 10px;
    position: relative;
}

    .presente > .imagens {
        width: 180px;
        height: 100px;
        background-color: #fff;
        border: 1px dashed #202148;
        position: relative;
        border-radius: 15px;
        margin-bottom: 20px;
    }

        .presente > .imagens > .quantidade {
            background-color: #b64667;
            color: #fff;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            position: absolute;
            left: -8px;
            top: -8px;
        }

        .presente > .imagens > .preco {
            background-color: #b64667;
            color: #fff;
            width: 80px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            position: absolute;
            bottom: -15px;
            right: -5px;
            z-index: 999;
        }

    .presente > .descricao {
        color: #16182F;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .presente > a {
        position: absolute;
        bottom: 10px;
        left: 0px;
        right: 0px;
        margin: 0px 30px;
    }

.paginacao {
    text-align: center;
    padding-bottom: 20px;
}

    .paginacao > a {
        margin: 0px 8px;
        text-decoration: none;
        color: #16182F;
        font-weight: bold;
    }

.paginacao-active {
    background-color: #b64667;
    color: #fff !important;
    padding: 2px 10px;
    border-radius: 100px;
}

/**** DETALHE ****/

.img-detalhe {
    height: 300px;
    width: 300px;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.7);
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preco-detalhe {
    background-color: #b64667;
    color: #fff;
    padding: 5px 40px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.btn-dar-presente {
    background-color: #202148;
    color: #fff;
    border: none;
    padding: 5px 40px;
    border-radius: 5px;
}

/**************/

#imgPreview > div > div > div {
    border: 2px dashed #16182f;
    border-radius: 15px;
    height: 100px;
    overflow: hidden;
    display: flex;
    margin: 10px;
    background-color: #fff;
    justify-content: center;
    align-content: center;
}

#imgPreview > div > div > div > img {
    width: 100px;
}

.owl-carousel {
    width: 100vw !important;
    height: 110px;
    overflow: hidden;
}