@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    if (ViewData["Timestamp"] == null)
    {
        ViewData["Timestamp"] = DateTime.Now.ToString("yyyyMMddHHmmssffff");
    }
}

<link rel="stylesheet" href="~/css/Presentes.css" />

<h1 class="text-blossom text-rosa text-center font-78 mt-5 " style="line-height:1;">Cadastrar presente</h1>
<div class="container ">
    <form class="row" onsubmit="return false">
        <input type="text" id="timestamp" name="timestamp" class="form-control w-100 hide" value="@ViewData["Timestamp"]" hidden/>
        <label class="col-12">
            <p class="text-rosa font-weight-bold">Nome:</p>
            <input type="text" name="nome" class="form-control w-100" id="nome" min="5" required/>
        </label>
        <label class="col-12">
            <p class="text-rosa font-weight-bold">Descrição:</p>
            <textarea rows="2" class="form-control w-100" name="descricao" id="descricao" min="10" required></textarea>
        </label>
        <label class="col-6">
            <p class="text-rosa font-weight-bold">Preço:</p>
            <input type="text" name="preco" class="form-control w-100" id="preco" min="1" required/>
        </label>
        <label class="col-6">
            <p class="text-rosa font-weight-bold">Quantidade:</p>
            <input type="number" name="quantidade" class="form-control w-100" id="quantidade" min="1" required/>
        </label>
        <label class="col-12">
            <p class="text-rosa font-weight-bold">Imagen(s):</p>
            <input id="arquivos" type="file" multiple onchange="enviarImagem(this)" />
        </label>

        <div id="imgPreview">

        </div>

        <div class="col-12 text-center mt-3 mb-4">
            <button type="submit" onclick="cadastrarPresente()" class="btn btn-rosa mx-2">Salvar</button>
            <button type="reset" class="btn btn-azul mx-2">Limpar</button>
            <button type="button" onclick="window.location='/presentes'" class="btn btn-secondary mx-2">Voltar</button>
        </div>
    </form>
</div>

<script>

    let imgs = [];

    function enviarImagem(ev) {

        var input = document.getElementById("arquivos");
        var files = input.files;
        var formData = new FormData();

        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
        }

        let textTimestamp = document.querySelector("#timestamp").value;

        $.ajax(
            {
                url: "/presentes/EnviarImagem?timestampPresente=" + textTimestamp,
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    let container = document.querySelector("#imgPreview");
                    data.forEach(e => {
                        let div = document.createElement("div");
                        let img = document.createElement("img");
                        let btnExcluir = document.createElement("button");
                        img.setAttribute("src", "data:image/png;base64, " + e.arquivo);
                        img.setAttribute("data", e.timestamp);

                        btnExcluir.append("x");
                        btnExcluir.classList.add("btnExcluirImagem");
                        btnExcluir.setAttribute("type", "button");
                        btnExcluir.setAttribute("onclick", "deletarImagem('" + e.timestamp + "')");

                        div.append(img);
                        div.append(btnExcluir);
                        container.append(div);
                        imgs.push(div);
                    });

                }
            }
        );
    }

    function deletarImagem(ev) {
        $.ajax(
            {
                url: "/presentes/DeletarImagem?caminho=" + ev,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    if (data) {
                        $("img[data='" + ev + "']").parent().remove();
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
    }

    function cadastrarPresente(ev) {
        if (nome.value.length < 2 || descricao.value.length < 5 || preco.value.length < 1 || quantidade.value.length < 1) {
            alert("Algum dos campos está vazio ou muito pequeno!");
            return false;
        }

        let textNome = nome.value;
        let textDescricao = descricao.value;
        let textPreco = preco.value;
        let textQuantidade = quantidade.value;
        let textTimestamp = document.querySelector("#timestamp").value;

        $.ajax(
            {
                url: "/presentes/salvar?nome=" + textNome + "&descricao=" + textDescricao + "&preco=" + textPreco + "&quantidade=" + textQuantidade + "&timestamp=" + textTimestamp,
                type: "GET",
                success: function (data) {
                    if (data) {
                        Swal.fire(
                            'Cadastrado!',
                            'Presente ' + textNome + ' cadastrado com sucesso',
                            'success'
                            ).then((result) => {
                                if (result.isConfirmed) {
                                    window.location = '@Url.Action("Cadastrar","Presentes")'
                                }
                            });
                    }
                }
            }
        );

    }
</script>