@model List<CasamentoLiviaPaulo.Models.Presente>

<link rel="stylesheet" href="~/css/Presentes.css" />

<h1 class="text-blossom text-rosa text-center font-78 mt-5 " style="line-height:1;">Presentes</h1>
<p class="text-azul text-center font-weight-bold">
    Após 5 anos de relacionamento, enfim vamos nos casar, ksjdafhaksjdfh jfdkhasdfjhfhdjf hsdfhdsfd fsdf dfhdsfh sdfjhsdf hsdf jsdhf sjdf hsjdfh sjdf hsdfjh.
</p>

<div class="container-categorias">
    <a href="#" class="text-decoration-none text-azul font-weight-bold">
        <img src="~/img/icone-eletrodomesticos.png" />
        <span>Eletrodomesticos</span>
    </a>
    <a href="#" class="text-decoration-none text-azul font-weight-bold">
        <img src="~/img/icone-panelas.png" />
        <span>Panelas</span>
    </a>
    <a href="#" class="text-decoration-none text-azul font-weight-bold">
        <img src="~/img/icone-utensilios.png" />
        <span>Utensilios</span>
    </a>
    <a href="#" class="text-decoration-none text-azul font-weight-bold">
        <img src="~/img/icone-lazer.png" />
        <span>Lazer</span>
    </a>
</div>

<hr class="hr-azul" />

<div class="container-presentes row container mx-auto">
    @foreach (Presente presente in Model)
    {
        <div class="col-3">
            <div class="presente">
                <div class="imagens">
                    <span class="quantidade">@presente.Quantidade</span>
                    <span class="preco">R$ @presente.Preco</span>
                    <div class="owl-carousel">
                        <div style="width: 180px;display:flex;justify-content: center;">
                            <img src="~/img/vetor-noivo-1.png" style="height: 100px;width: 100px;" />
                        </div>
                        <div style="width: 180px;display:flex;justify-content: center;">
                            <img src="~/img/vetor-noivo-1.png" style="height: 100px;width: 100px;" />
                        </div>
                        <div style="width: 180px;display:flex;justify-content: center;">
                            <img src="~/img/vetor-noivo-1.png" style="height: 100px;width: 100px;" />
                        </div>
                        <div style="width: 180px;display:flex;justify-content: center;">
                            <img src="~/img/vetor-noivo-1.png" style="height: 100px;width: 100px;" />
                        </div>
                        <div style="width: 180px;display:flex;justify-content: center;">
                            <img src="~/img/vetor-noivo-1.png" style="height: 100px;width: 100px;" />
                        </div>
                    </div>
                </div>
                <span class="descricao">@presente.Nome</span>
                <a href="/Presentes/detalhe" class="btn-rounded btn-azul text-white text-decoration-none">Presentear</a>
            </div>
        </div>
    }

</div>
<div class="paginacao">
    <a href="#"><</a>
    <a href="#" class="paginacao-active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">></a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            margin: 10,
            loop: true,
            center: true,
            autoWidth: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    })
</script>