@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center" style="height: 70vh; display: flex; justify-content: center; align-items: center;">
    <h1 class="display-4">Em breve</h1>
</div>
