@{
    ViewData["Title"] = "Página inicial";
    Layout = "../Shared/_LayoutLimpo.cshtml";
}


<section class="sobre">
    <h1 class="text-blossom text-rosa text-center mt-2" style="font-size: 60px;">
        Livia <img src="~/img/icone-coração-azul.png" class="img-coracao-azul" /> Paulo
    </h1>
    <div class="d-flex justify-content-center">
        <img src="~/img/vetor-casal-coracoes.png" class="img-casal-coracoes mt-5 mx-auto" />
    </div>
</section>

