@{
    ViewData["Title"] = "Página inicial";
}

<div class="topo topo-conteudo">
    <img src="~/img/vetor-topo-bg-1.png" class="img-topo-bg-1" />

    <section class="row m-0 align-items-center topo-conteudo">
        <div class="col-12 col-md-6 pl-md-5 order-1 order-md-0 text-center text-md-left">
            <span class="text-rosa font-weight-bold font-50">Vamos nos</span></br>
            <span class="text-rosa font-weight-bold font-78">CASAR!</span></br>
            </br>
            <span class="text-azul font-weight-bold" style="font-size: 25px;">Pre-wedding</span></br>
            <span class="text-azul font-weight-bold">Veja nossas fotos do pre-wedding</span></br>

            <a href="#fotos" class="btn-rounded btn-azul mt-2">Veja aqui</a>

        </div>
        <div class="col-12 col-md-6 order-0 order-md-1 text-center text-md-left">
            <img src="~/img/vetor-casal-coracoes.png" class="img-casal-coracoes" />
        </div>
    </section>
    <div class="divisao-conteudo">
        <img src="~/img/vetor-topo-bg-2.png" class="img-topo-bg-2" />
    </div>
</div>


<section class="sobre" id="sobre">
    <h1 class="text-blossom text-rosa text-center mt-2" style="font-size: 60px;">
        Livia <img src="~/img/icone-coração-azul.png" class="img-coracao-azul" /> Paulo
    </h1>
    <div class="row m-0">
        <div class="col-3 d-flex justify-content-center align-items-center">
            <img src="~/img/vetor-noiva-1.png" class="img-noiva" />
        </div>
        <div class="col-6 p-0 d-flex justify-content-center">
            <div class="col-12 col-md-8 text-center mt-3 text-azul font-weight-bold d-flex align-items-center flex-column">
                <p>
                    Após 5 anos de relacionamento, enfim vamos nos casar.
                </p>
                <p>
                    Que este passo seja apenas o início da nossa vida e que Deus nos conceda a bênção de um casamento feliz!
                </p>
                <p>
                    Nada é mais lindo do que ver uma história de amor se concretizar. É o que estamos fazendo juntos: amando, vivendo e construindo juntos um sonho. Ter você aqui é a certeza dessa realização.
                </p>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center">
            <img src="~/img/vetor-noivo-1.png" class="img-noiva" />
        </div>
    </div>
</section>
<section class="fotos" id="fotos">
    <hr class="hr-azul" />
    <h1 class="text-center text-rosa mb-3" style="font-size: 60px;">
        Fotos
    </h1>
    <div class="spinner-fotos">
        <div class="owl-carousel">
            <div class="foto">
                <div class="foto-img">
                    <span class="em-breve-img">Em breve</span>
                </div>
                <div class="foto-footer">
                    <img src="~/img/icone-coração-azul.png" /> @*10/01/20*@
                </div>
            </div>

        </div>
        <div class="position-relative" style=" height: 40px; margin-top: -40px;">
            <img src="~/img/vetor-seta.png" class="seta-voltar-foto" />
            <img src="~/img/vetor-seta.png" class="seta-passar-foto" />
        </div>
        <div class="owl-carousel mt-2">
            <div class="foto">
                <div class="foto-img">
                    <span class="em-breve-img">Em breve</span>
                </div>
                <div class="foto-footer">
                    <img src="~/img/icone-coração-azul.png" /> @*10/01/20*@
                </div>
            </div>
        </div>
    </div>
</section>
<section class="presentes pb-4">
    <hr class="hr-rosa" />
    <h1 class="text-center text-rosa mb-5" style="font-size: 60px;">
        Presentes
    </h1>
    <div class="row m-0">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="~/img/vetor-presentes.png" class="img-presentes" />
        </div>
        <div class="col-md-4 mt-4 mt-md-0 text-center text-white column-full-center">
            <p>
                Querido convidado seja bem-vindo a nossa lista de presentes. Pensamos em tudo com muito carinho para que você se sinta à vontade para nos presentear com o que sentir vontade.
            </p>
            <p>
                Agradecemos sua contribuição nesse momento tão especial e nós vemos no grande dia!
            </p>
            <p>
                Essa lista só existe por que você está aqui. Muito obrigada por nos ajudar a construir esse dia.
            </p>
            <a href="@Url.Action("Index", "Presentes")" class="btn-rounded btn-rosa mt-2 mb-2 text-white text-decoration-none">ACESSAR</a>
        </div>
    </div>
</section>
<div class="container-lua-de-mel pt-4 pb-4">
    <h1 class="text-blossom text-azul text-center font-78" style="line-height:1;">Lua de mel</h1>
    <p class="text-azul text-center font-weight-bold px-4">
        Querido convidado, gostaria de ajudar com a nossa vaquinha para a lua de mel? Insira ao lado valor que o seu coração desejar!
    </p>
    <form action="/Presentes/luaDeMel">
        <div class="d-flex justify-content-center align-items-center">
            <b>Valor:</b> <label class="ml-1 mr-2 mb-0"><input class="form-control" type="number" name="valor" style="width:100px" min="1" required /></label>
            <button type="submit" class="btn btn-azul text-white">Presentear</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            margin: 10,
            loop: true,
            center: true,
            autoWidth: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    })

    $(".seta-passar-foto").on("click", function () {
        $('.owl-carousel').trigger('next.owl.carousel');
    });

    $(".seta-voltar-foto").on("click", function () {
        $('.owl-carousel').trigger('prev.owl.carousel');
    });

</script>