@{
    ViewData["Title"] = "Página inicial";
}

<div class="topo topo-conteudo">
    <img src="~/img/vetor-topo-bg-1.png" class="img-topo-bg-1" />
    
    <section class="row m-0 align-items-center topo-conteudo">
        <div class="col-12 col-md-6 pl-md-5 order-1 order-md-0 text-center text-md-left">
            <span class="text-rosa font-weight-bold font-50">Vamos nos</span></br>
            <span class="text-rosa font-weight-bold font-78">CASAR!</span></br>
            </br>
            <span class="text-azul font-weight-bold" style="font-size: 25px;">Pre-wedding</span></br>
            <span class="text-azul font-weight-bold">Veja nossas fotos do pre-wedding</span></br>

            <button class="btn-rounded btn-azul mt-2">Veja aqui</button>

        </div>
        <div class="col-12 col-md-6 order-0 order-md-1 text-center text-md-left">
            <img src="~/img/vetor-casal-coracoes.png" class="img-casal-coracoes" />
        </div>
    </section>
    <div class="divisao-conteudo">
        <img src="~/img/vetor-topo-bg-2.png" class="img-topo-bg-2" />
    </div>
</div>


<section class="sobre">
    <h1 class="text-blossom text-rosa text-center mt-2" style="font-size: 60px;">
        Livia <img src="~/img/icone-coração-azul.png" class="img-coracao-azul" /> Paulo
    </h1>
    <div class="row m-0">
        <div class="col-3 d-flex justify-content-center align-items-center">
            <img src="~/img/vetor-noiva-1.png" class="img-noiva" />
        </div>
        <div class="col-6 p-0 d-flex justify-content-center">
            <div class="col-12 col-md-8 text-center mt-3 text-azul font-weight-bold d-flex align-items-center">
                <p>
                    Após 5 anos de relacionamento, enfim vamos nos casar,
                    ksjdafhaksjdfh jfdkhasdfjhfhdjf hsdfhdsfd fsdf dfhdsfh
                    sdfjhsdf hsdf jsdhf sjdf hsjdfh sjdf hsdfjh.

                    asdasdas das dasd adwqe qweqwhas dkajhsd adhasd
                    asdasdasd qweqw asdasdadasdas da
                    asda asdasd asdasd .
                </p>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center">
            <img src="~/img/vetor-noivo-1.png" class="img-noiva" />
        </div>
    </div>
</section>
<section class="fotos">
    <hr class="hr-azul" />
    <h1 class="text-center text-rosa mb-3" style="font-size: 60px;">
        Fotos
    </h1>
    <div class="spinner-fotos">
        <div class="owl-carousel">
            <div class="foto">
                <div class="foto-img">

                </div>
                <div class="foto-footer">
                    <img src="~/img/icone-coração-azul.png" /> 10/01/20
                </div>
            </div>

            <div class="foto">
                <div class="foto-img">

                </div>
                <div class="foto-footer">
                    <img src="~/img/icone-coração-azul.png" /> 10/01/20
                </div>
            </div>

            <div class="foto">
                <div class="foto-img">

                </div>
                <div class="foto-footer">
                    <img src="~/img/icone-coração-azul.png" /> 10/01/20
                </div>
            </div>
        </div>
        <div class="position-relative" style=" height: 40px; margin-top: -40px;">
            <img src="~/img/vetor-seta.png" class="seta-voltar-foto" />
            <img src="~/img/vetor-seta.png" class="seta-passar-foto" />
        </div>
        <div class="owl-carousel mt-2">
            <div class="foto">
                <div class="foto-img">

                </div>
                <div class="foto-footer">
                    <img src="~/img/icone-coração-azul.png" /> 10/01/20
                </div>
            </div>

            <div class="foto">
                <div class="foto-img">

                </div>
                <div class="foto-footer">
                    <img src="~/img/icone-coração-azul.png" /> 10/01/20
                </div>
            </div>

            <div class="foto">
                <div class="foto-img">

                </div>
                <div class="foto-footer">
                    <img src="~/img/icone-coração-azul.png" /> 10/01/20
                </div>
            </div>
        </div>
    </div>
</section>
<section class="presentes">
    <hr class="hr-rosa" />
    <h1 class="text-center text-rosa mb-5" style="font-size: 60px;">
        Presentes
    </h1>
    <div class="row m-0">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="~/img/vetor-presentes.png" class="img-presentes" />
        </div>
        <div class="col-md-4 mt-4 mt-md-0 text-center text-white column-full-center">
            <p>
                Após 5 anos de relacionamento, enfim vamos nos casar,
                ksjdafhaksjdfh jfdkhasdfjhfhdjf hsdfhdsfd fsdf dfhdsfh
                sdfjhsdf hsdf jsdhf sjdf hsjdfh sjdf hsdfjh.

                asdasdas das dasd adwqe qweqwhas dkajhsd adhasd
                asdasdasd qweqw asdasdadasdas da
                asda asdasd asdasd .
            </p>
            <button class="btn-rounded btn-rosa mt-2">ACESSAR</button>
            <p class="text-center text-white font-weight-bold">Disponivel em breve</p>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            margin: 10,
            loop: true,
            center: true,
            autoWidth: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    })

    $(".seta-passar-foto").on("click", function () {
        $('.owl-carousel').trigger('next.owl.carousel');
    });

    $(".seta-voltar-foto").on("click", function () {
        $('.owl-carousel').trigger('prev.owl.carousel');
    });

</script>